{% extends 'base.html' %}

{% block content %}

<h1>{{ advertisement.title }}</h1>

{% if advertisement.image %}
    <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}">
{% else %}
    <p>Изображение отсутствует</p>
{% endif %}

<p>{{ advertisement.content }}</p>
<p>Автор: {{ advertisement.author.username }}</p>

<div class="like-dislike-container">
    <button type="button" class="like-btn" data-id="{{ advertisement.id }}" data-url="{% url 'board:like_def' advertisement.id %}">Like</button>
    <span id="likes-count-{{ advertisement.id }}">{{ advertisement.total_dislikes }}</span>

    <button type="button" class="dislike-btn" data-id="{{ advertisement.id }}" data-url="{% url 'board:dislike_def' advertisement.id %}">Dislike</button>
    <span id="dislikes-count-{{ advertisement.id }}">{{ advertisement.total_dislikes }}</span>
</div>

<div>
    <a href="{% url 'board:edit_advertisement' pk=advertisement.pk %}" class="btn btn-edit">Редактировать</a>
    <a href="{% url 'board:delete_advertisement' ad_id=advertisement.pk %}" class="btn btn-delete">Удалить</a>
</div>

{% endblock %}

